<div class="row bg-dark" *ngIf="quizQuestion">
  <div class="questionNumber my-3
  ">Pregunta {{quizQuestion.id}}</div>
  <div>
    <h5>{{quizQuestion.question}}</h5>
    <ng-container *ngIf="quizQuestion.type === 'select'">
      <div class="d-flex flex-wrap justify-content-center py-3">
        <button type="button"
          class="btn btn-primary my-3 w-75 fw-bold"
          *ngFor="let answer of quizQuestion.answers"
          (click)="checkAnswer(answer, quizQuestion.type)"
          [disabled]="showAnswerCorrect || showAnswerIncorrect"
          >{{answer.answer}}
        </button>
        <span class="showAnswerQuestion text-success fw-bold" *ngIf="showAnswerCorrect">{{correctAnswer}}</span>
        <span class="showAnswerQuestion incorrect" *ngIf="showAnswerIncorrect">{{incorrectString}}<span class="text-danger fw-bold">{{incorrectAnswer}}</span></span>
      </div>
    </ng-container>
    <ng-container *ngIf="quizQuestion.type === 'input'">
      <div class="d-flex flex-wrap justify-content-center py-3">
        <input type="text" [(ngModel)]="inputTextValue">
        <button type="button" class="btn btn-primary my-3 w-75 fw-bold"
        (click)="checkAnswer(quizQuestion.answers[0], quizQuestion.type)"
        [disabled]="showAnswerCorrect || showAnswerIncorrect">Comprobar!!</button>
        <span class="showAnswerQuestion text-success fw-bold" *ngIf="showAnswerCorrect">{{correctAnswer}}</span>
        <span class="showAnswerQuestion incorrect" *ngIf="showAnswerIncorrect">{{incorrectString}}<span class="text-danger fw-bold">{{incorrectAnswer}}</span></span>
      </div>
    </ng-container>
  </div>
</div>
